body {
  margin: 0;
  padding: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h5,
h2,
h4,
p,
h6 {
  margin: 0;
}

.overall_background {
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.section {
  display: flex;
  justify-content: space-evenly;
  padding: 3vw 5vw 3vw 5vw;
  overflow: hidden !important;
}
/* Left part */
.left_part {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100% !important;
  width: 40%;
  overflow: hidden;
}
.left_part_top {
  overflow: hidden;
  background-color: #472876;
}
.pictures {
  width: 100%;
}
.left_part_bottom {
  background-color: #472876;
  padding: 0 1.5rem 0 1.5rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
}
.left_part_bottom > p {
  /* font-weight: lighter; */
  font-size: 1vw;
  line-height: 1.5vw;
  /* letter-spacing: 1px; */
}
.left_part_bottom > h2 {
  font-size: 2vw;
}

.button_type {
  border-radius: 2vw;
  width: 10vw;
  background-color: transparent;
  color: white;
  padding: 1vw 1vw 1vw 1vw;
  border: 1.5px solid white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: fit-content;
}
.button_type > p {
  margin: 0;
  font-size: 1vw;
}
.background_image {
  position: absolute;
  z-index: 0;
  top: -10%;
  right: -25%;
  rotate: 15deg;
  overflow: hidden;
}
.background_image > .bg_picture {
  width: 30vw;
  opacity: 5%;
}

/* Right part */
.right_part {
  width: 50%;
  overflow: hidden !important;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}
.card_container {
  width: 19vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(211, 210, 210);
}
.card_container_top > .pictures {
  width: 100%;
}
.card_container_bottom {
  color: #472876;
  padding: 1vw;
  padding-top: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  gap: 0.5vw;
}
.card_container_bottom > h4 {
  font-size: 1.2vw;
}
.card_container_bottom > p {
  font-size: 0.8vw;
  font-weight: 500;
  color: gray;
}
.chef_circle {
  position: absolute;
  width: 3.5vw;
  height: 3.5vw;
  border-radius: 50%;
  background-color: #472876;
  top: -2vw;
  left: 2vw;
  overflow: hidden;
  border: 3px solid white;
}
.chef_circle > img {
  width: 100%;
}

.category {
  border-top: 1px solid rgb(211, 210, 210);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.category > div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1vw;
  width: 40%;
  padding: 1vw;
  color: #472876;
}

/* Mobile screen */
@media only screen and (max-width: 600px) {
  .section {
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
  }
  .left_part {
    width: 100%;
  }
  .left_part_bottom > p {
    font-size: 2.5vw;
    line-height: 4vw;
  }
  .left_part_bottom > h2 {
    font-size: 6vw;
  }
  .button_type {
    width: 25vw;
    font-size: 3vw;
    border-radius: 5vw;
    padding: 2vw;
  }
.button_type > p {
  font-size: 3vw;

}

  .background_image > .bg_picture {
    width: 60vw;
  }
  .right_part {
    width: 100%;
    gap: 4vw;
  }
  .card_container {
    width: 100%;
  }
  .card_container_bottom {
    padding: 5vw;
    padding-top: 9vw;
    gap: 3vw;
  }
  .card_container_bottom > h4 {
    font-size: 5vw;
  }
  .card_container_bottom > p {
    font-size: 2.6vw;
  }
  .chef_circle {
    width: 12vw;
    height: 12vw;
    top: -8vw;
    left: 6vw;
  }
  .category > div {
    font-size: 3vw;
    padding: 3vw;
  }
}
